* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lekton', sans-serif;
}

body {
  background: #2123a5;
  background: -moz-linear-gradient(left, #2123a5 0%, #af0e0e 100%);
  background: -webkit-linear-gradient(left, #2123a5 0%, #af0e0e 100%);
  background: linear-gradient(to right, #2123a5 0%, #af0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2123a5', endColorstr='#af0e0e', GradientType=1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee', cursive;
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  opacity: 0.85;
  font-size: 16px;
}

a {
  color: inherit;
}

section {
  width: 100%;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.header_b {
  color: #FFF;
  padding: 20px;
}

.header_b a {
  opacity: 0.85;
  padding: 5px;
  background: #000;
  margin-top: 10px;
  display: inline-block;
}

.burgers_b {
  background: #000;
  padding: 20px;
}

.orders_b {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.burger_b {
  width: 33.3333%;
  height: 400px;
  float: left;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.burger_b:hover {
  cursor: pointer;
}

.burger_b .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.burger_b .overlay:hover {
  background: rgba(0, 0, 0, 0.25);
}

.burger_b .overlay:hover .title {
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  transform: translateY(-60%);
}

.burger_b .title {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.burger_b .meta {
  margin-top: 10px;
  opacity: 1;
}

.burger_b .buy {
  margin-top: 20px;
  font-size: 20px;
  color: #31e03d;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: #000;
  padding: 10px;
}

.input_b {
  width: 50%;
  padding: 20px 10px 20px 20px;
  float: left;
}

.alert {
  padding: 10px;
  background: red;
  color: #fff;
  opacity: 1;
}

.order_b {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  margin-bottom: 10px;
}

.order_b ul {
  list-style: none;
  line-height: 1.4;
}

.cart_b {
  width: 50%;
  padding: 20px 20px 20px 10px;
  float: left;
}

.form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

.form input, button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: #f9f9f9;
}

.form select {
  margin-right: 10px;
}

.form input:first-child {
  margin-top: 0;
}

.form > * {
  margin-top: 20px;
}

.form #map-order {
  height: 300px;
  border: 5px solid #2123a5;
}

.item_b {
  color: #fff;
  padding: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

.item_b:hover {
  cursor: pointer;
}

.item_b .remove {
  text-decoration: underline;
  opacity: 0.75;
}

.item_b span:last-child {
  float: right;
}

#map-dispatcher {
  height: 450px;
}

.trump {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999;
}

.trump img {
  width: 128px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
  float: right;
}

.trump div {
  color: #fff;
  opacity: 1;
  padding: 5px;
  text-align: center;
  float: left;
  height: 128px;
}

.trump p {
  text-align: right;
  line-height: inherit;
  background: #000;
  padding: 5px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

@media screen and (max-width: 1024px) {
  .burger_b {
    width: 50%;
    height: 300px;
  }

  .trump img {
    width: 96px;
  }

  .trump div {
    height: 96px;
  }
}

@media screen and (max-width: 768px) {
  .burger_b {
    width: 100%;
    height: 200px;
  }

  .trump img {
    width: 64px;
  }

  .trump div {
    display: none;
  }

  .cart_b, .input_b{
    width: 100%;
    padding: 20px;
  }
}